.trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100px;
  background: #f5f5f5;
}

.picture {
  display: flex;
  align-items: center;
  gap: 50px;
}

img {
  height: 60px;
  object-fit: cover;
}
